{% include "header.twig" %}
<h1>To access this board, you must authenticate:</h1>
{% if error == "BAD_PASSWORD" %}
<p class="error">Bad password!</p>
{% endif %}
<form method="post" action="{{ config.access_point }}{{ board }}/">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password">
    <button name="auth_btn" type="submit">Authenticate</button>
</form>
{% include "footer.twig" %}