{% include "header.twig" %}
{# for captcha #}
{% set captcha_wall = true %}
<h1>Security check:</h1>
{% if error == "INVALID_CAPTCHA" %}
<h4 class="error">Incorrect captcha. Please try again.</h4>
{% endif %}
<p>Due to bots, you are required to complete a captcha. Please note you will need to enable browser cookies for the
    captcha to work properly.</p>
<form method="post" action="{{ config.access_point }}forms/captcha_wall">
    {% include "captcha.twig" %}
    <button name="pass_check" type="submit">Pass check</button>
</form>
{% include "footer.twig" %}