{% include "header.twig" %}
<form method="get" action="{{ config.access_point }}forms/delete_post">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="board" value="{{ board }}">
    <div class="form-group">
        <label>Password: <input type="password" name="password"></label>
    </div>
    <div class="form-group">
        <button name="delete_btn" type="submit">Delete!</button>
    </div>
</form>
{% include "footer.twig" %}